.formGroup {
  margin-top: 10px;
}

.formGroup label {
  display: block;
  color: rgb(107, 140, 228);
  text-transform: uppercase;
}

.formGroup input, textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  border: 2px solid rgb(107, 140, 228);
}

.formGroup textarea {
  min-height: 110px;
  min-width: 100%;
  max-width: 100%;
}

.buttonContainer {
  display: flex;
  flex-direction: row-reverse;
}

.buttonContainer button {
  background-color: rgb(107, 140, 228);
  color: white;
  border: 0;
  padding: 10px;
  font-weight: bold;
  font-size: 1.1em;
}