@value boldThemeColor from "sharedStyles/colors.css";
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: boldThemeColor;
  color: white;
}

.bottomContainer, .bottomContainer:visited {
  border-top: 1px solid rgba(255, 255, 255, 0.26);
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: grey;
}