.container {
  display: flex;
  flex-direction: column;
}

.chapterVerseContainer {
  display: flex;
  flex-direction: row;
}

.numberInput {
  width: 50px;
}

.menu {
  border-radius: 3px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  background: rgba(105, 105, 105, 0.99);
  padding: 2px 0;
  font-size: 90%;
  position: fixed;
  overflow: auto;
  max-height: 25%;
}