.chapterTitle {
	color: #6b8ce4;
	margin-bottom: 0px;
}

.verses {
	color: #202020;
	margin-top: 13px;
	line-height: 28px;
	font-size: 18px;
}

.verseNumber {
	font-weight: 500;
	padding-left: 5px;
	padding-right: 5px;
	color: #6b6b6b;
	font-size: 12px;
}

.copyRight {
	color: #6477aa;
	font-size: 12px;
}

.thoughtsTitle {
	color: #6b8ce4;
	margin: 0;
}

.summaryTitle {
	margin-bottom: 0;
	font-weight: 500;
	color: #6b8ce4;
}

.summaryContent {
	margin-bottom: 0;
	margin-top: 2px;
}
