@value padding: 10px;
.bookContainer {
  flex: 1 0 0;
}

.bookSelector, .selectedBookSelector {
  transition: all 0.1s ease;
  padding: padding;
  background-color: #7494EA;
  cursor: pointer;
  color: white;
  font-size: 1.3em;
  text-align: center;
  white-space: nowrap;
}

.bookSelector:hover {
  transition: all 0.2s ease;
  transform: scale(1.1);
  background-color: rgb(86, 124, 230);
}

.bookArrayContainer {
  display: flex;
}

.bookSection {
  flex: 1 1 0;
  height: 50px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  position: relative;
}

.bookSection:last-child {
  border-right: 0px;
}

.bookSection:hover {
  transition: all 0.1s ease;
  background-color: rgba(0, 0, 0, 0.466);
}
.bookSection:hover .bookNumber {
  transition: all 0.05s ease;
  opacity: 1;
}

.bookNumber {
  background-color: rgba(0, 0, 0, 0.466);
  transition: all 0.2s ease;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
}