@value padding: 10px;

.bookContainer {
  flex: 1 0 0;
}

.bookSelector, .selectedBookSelector {
  transition: all 0.1s ease;
  padding: padding;
  background-color: #7494EA;
  cursor: pointer;
  color: white;
  font-size: 1.3em;
  text-align: center;
  white-space: nowrap;
}

.bookSelector:hover {
  transition: all 0.2s ease;
  transform: scale(1.1);
  background-color: rgb(86, 124, 230);
}