.containerNoAside,
.containerAside {
	display: grid;
	height: 100vh;
	width: 100vw;
	grid-template-areas:
		'sidebar main aside'
		'sidebar bottom aside';
	grid-template-rows: 1fr 200px;
	overflow: hidden;
}

.containerNoAside {
	grid-template-columns: 200px 1fr 0px;
}

.containerAside {
	grid-template-columns: 200px 1fr 250px;
}

.aside {
	grid-area: aside;
}

.sidebar {
	grid-area: sidebar;
}

.main {
	grid-area: main;
}

.bottom {
	grid-area: bottom;
}
