.cotdContainer {
	padding-top: 20px;
	background-color: rgb(231, 235, 255);
}

.cotdInnerContainer {
	margin-right: 20px;
	margin-left: 20px;
}

.chapterOfTheDayTitle {
	position: absolute;
	top: -15px;
	background-color: #6b8ce4;
	color: white;
	padding: 10px;
	transform: skew(-13deg);
	font-weight: bold;
	left: -3px;
}

.chapterTitle {
	color: #da9d0b;
	margin-bottom: 0px;
}

.verses {
	color: #515151;
	margin-top: 13px;
}

.verseNumber {
	font-weight: bold;
	padding-left: 5px;
}

.readMore {
	display: block;
	text-align: right;
}

.text {
	color: #515151;
}

.resourcesTitle {
	color: #175ae4;
	margin-bottom: 0;
	margin-top: 0;
	text-decoration: none;
}

.resourcesContent {
	margin-top: 5px;
	margin-bottom: 0;
	color: #515151;
}

.resourcesLink {
	/* color: #515151;
	text-decoration: underline; */
	display: block;
	padding-top: 10px;
}

.muchMoreText {
	margin-top: 25;
	color: #515151;
}

.resourcesLink,
.readMore,
.link {
	color: #515151;
	text-decoration: underline;
}
