@value scrollerSidePadding: 40px;
@value dashSideMargin: 5px;
@value dashWidth: 50px;
.timelineContainer {
  overflow: hidden;
}

.scrollerContainer {
  padding-left: scrollerSidePadding;
  user-select: none;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  background-color: rgb(227, 234, 255);
  height: 100%;
  cursor: pointer;
}

.dashedLine {
  margin: 0px dashSideMargin;
  width: dashWidth;
  border: 0px;
  border-top: dashed 1px;
  color: #7494EA
}

.fullSize {
  width: 100%;
  height: 100%;
}