.dropdown, .dropdown-open {
  cursor: pointer;
  padding: 15px;
}

.dropdown-open, .dropdown:hover {
  background-color: #393d4b;
}

.title, .title-open {
  transition: all 0.1s ease;
  color: #bbbbbb;
  font-size: 0.9em;
  margin-left: 15px;
}
.title-open {
  transition: all 0.1s ease;
  color: rgb(255, 255, 255);
}