.bibleProjectBanner {
	display: block;
	margin: 20px 0px 0px;
	background-color: rgb(115, 203, 215);
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

.bookTitle {
  color: #6b8ce4;
	text-align: center;
	margin-top: 30px;
}

.title {
	font-weight: 500;
	font-size: 1.5em;
	text-align: center;
	padding: 15px;
	color: #454545;
}

.video {
	margin-top: 50px;
	margin-bottom: 50px;
}

.credits {
	float: right;
	color: #2a2a2a;
	font-size: 0.8em;
}
