.footerContainer {
  background-color: #0a0e1a;
  color: white;
  padding: 40px;
  padding-bottom: 10px;
}

.footerContainer div {
  max-width: 900px;
  margin: auto;
}

.footerTitle {
  color: #999;
}

.footerLink {
  text-decoration: none;
  color: white;
}

.footerCopyright {
  display: block;
  text-align: center;
  font-size: 0.8em;
  color: grey;
  margin-top: 70px;
}