.bookContainer {
	height: 100%;
	padding: 20px;
	background-color: #2e323d;
	color: white;
	display: flex;
	flex-direction: column;
}

.titleContainer {
	display: flex;
}

.title {
	margin-right: 5px;
}

.editBookContainer {
	display: flex;
}

.editButton {
	color: grey;
	cursor: pointer;
}
