hr {
	width: 100%;
}

h4 {
	opacity: 0.9;
	margin: 0px;
	margin-bottom: 5px;
}

a {
	opacity: 0.8;
	margin-bottom: 5px;
}

.text {
	margin-bottom: 10px;
}

.bookContainer {
	height: 100%;
	padding: 20px 10px;
	background-color: #2e323d;
	color: white;
	display: flex;
	flex-direction: column;
}

.title {
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 10px;
	margin-top: 0px;
}

.editBookContainer {
	display: flex;
}
.editBookContainer textarea {
	width: 100%;
}

.editButtonContainer {
	display: inline;
}

.editButton {
	color: grey;
	cursor: pointer;
}

.editButton:hover {
	transition: 0.1s all ease;
	color: rgb(206, 206, 206);
}
